h1{

    color: black;
    font-size: 60;
    text-align: left;
}

hr{
    color :  darkblue;
    width : 90% ;

}

h2{
    color: yellowgreen;
    font-size : 30;
    text-align : center;
}
h3{
    color : black ;
    font-size : 20;
    text-align: left;

}

div{
    font-size : 50;
    text-align : center;
}